[Unit]
Description=Venue Booking Manager Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/venue-booking-manager/next-app
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose --env-file .env.oci -f compose.yaml up -d --build
ExecStop=/usr/bin/docker compose --env-file .env.oci -f compose.yaml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
